body {
  background-image: linear-gradient(to right, #de6161, #2657eb);
  height: 100%;
}

.content-section {
  background-image: linear-gradient(to right, #141e30, #243b55);
  border-radius: 3px;
  width: 80%;
  height: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  overflow: auto;
  margin-top: 80px;
  display: flex;
  position: relative;
}

#root {
  height: 100%;
}

.title-section {
  background-color: green;
  position: absolute;
  left: 0;
  height: 100%;
  width: 40%;
}

.weather-section {
  background-color: red;
  width: 60%;
  position: absolute;
  right: 0;
  height: 100%;
}
