body {
  background-image: linear-gradient(to right, #de6161, #2657eb);
  height: 100%;
}

.content-section {
  background-image: linear-gradient(to right, #141e30, #243b55);
  border-radius: 3px;
  width: 80%;
  height: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  overflow: auto;
  margin-top: 80px;
  display: flex;
  position: relative;
}

#root {
  height: 100%;
}

.title-section {
  background-color: green;
  position: absolute;
  left: 0;
  height: 100%;
  width: 40%;
  background-image: url("https://pbs.twimg.com/media/CuPsB_eXEAAmirk.jpg");
  background-size: 100% 100%;
  text-align: center;
}

.weather-section {
  width: 60%;
  position: absolute;
  right: 0;
  height: 100%;
  text-align: center;
}

#title-text {
  margin-top: 85px;
  font-size: 30px;
  font-family: "Fredoka One", cursive;
}

#weather-form {
  margin-top: 75px;
  display: flex;
  justify-content: space-around;
}

input[type="text"] {
  background-color: Transparent;
  border: none;
  border-bottom: 2px solid white;
  font-size: 12px;
  color: white;
}

#submit-button {
  border-radius: 5px;
  background-color: #de6161;
  border-color: #de6161;
  color: white;
  height: 35px;
  font-size: 13px;
  width: 130px;
  font-family: "Fredoka One", cursive;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#submit-button:hover {
  transform: scale(1.2);
}

#weather-details {
  text-align: left;
}

p {
  margin-left: 20px;
  font-size: 20px;
  border-bottom: 1px solid white;
  margin-right: 20px;
  padding-bottom: 25px;
  color: white;
  font-family: "Varela Round", sans-serif;
}

#category {
  color: #de6161;
}
